<section class="productsSection">
    <div id="productsToolbar">
        <form action="/api/v1/session/logout" method="get">
            <label>You are currently logged in as {{email}}</label>
            <br />
            <button type="submit">logout</button>
        </form>
    </div>
    <h1>Buenos dias {{first_name}} {{last_name}}</h1>
    <h2>Usuarios creados</h2>
    {{#if users}}
    <ul class="producsList">
        {{#each users}}
        <a href="admin/user/{{this.id}}">
            <li>
                <div>
                    <div id="futurePic"></div>
                    <h3>{{this.email}}</h3>
                    <p>Nombre: {{this.firstName}}</p>
                    <p>Apellido: {{this.lastName}}</p>
                    <p>Edad: {{this.age}}</p>
                    <p>Rol: {{this.role}}</p>
                </div>
            </li>
        </a>
        {{/each}}
    </ul>
    {{/if}}
</section>
